.title {
  text-align: center;
}
body {
  height: 100vh;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #fc28fb, #fa4eab, #fe83c6);
  background-repeat: no-repeat;
}

.Wrapper {
  background-color: white;
  padding: 50px;
  width: 300px;
}
